html {box-sizing: border-box;}
 *, *:before, *:after 
 {
     box-sizing: inherit;
    }

    :root {
    --colorA: #79f307;
    --colorAlight: #c0f78c;
    --colorB: #f30799;
    --colorBlight:#ffd5ee;
    --colorBdark: #5a0238;
    --colorAdark:#3a6e09;
    --colorC: #3f1212;
    }

    /* flex container to hold all images */
    .pictures {
        max-width: 100%;
        height: 450px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: var(--colorBlight);
    }

    /* holds one image and caption comments */
    .imagebox {
        width: 350px;
        height: 400px;
        background-color: var(--colorA);
        padding: 30px;
        margin: 10px;
        
    }

    .imagebox image {
        max-width: 200px;
        height: 200px;
    }
    .caption {
        font-family: inherit;
        font-size: 24px;
        padding: 5px;
        height: 125px;

    }

    .footer {
        height: 200px;
        width: 100%;
        background-color: tomato;
    }